.our-mission-revolves {
    position: absolute;
    top: 3034px;
    left: calc(50% - 3397px);
    font-size: 128px;
    font-weight: 300;
    font-family: var(--font-sansation-light);
    color: var(--color-black);
    display: inline-block;
    width: 6652px;
    height: 329px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .landing-page-child {
    position: absolute;
    top: 470px;
    left: 0;
    background-color: #1f1f22;
    width: 1280px;
    height: 304px;
  }
  .join-the-mission {
    position: absolute;
    top: 2240px;
    left: calc(50% + 848px);
    font-size: var(--font-size-xl);
    display: inline-block;
    color: #fffdfd;
    width: 251px;
    height: 22px;
  }
  .span {
    font-family: var(--font-inter);
    color: var(--color-black);
  }
  .span1 {
    font-size: var(--font-size-5xl);
  }
  .p {
    margin: 0;
  }
  .client-retention {
    position: absolute;
    top: 515px;
    right: 951px;
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    width: 247px;
    height: 111px;
  }
  .objectother-07-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .objectother-07,
  .objectother-12 {
    position: absolute;
    top: 626px;
    left: 1010px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 141px;
    height: 119px;
  }
  .objectother-12 {
    top: 621px;
    left: 111px;
    width: 143px;
    height: 130px;
  }
  .days-to-see-results {
    margin: 0;
    font-size: var(--font-size-xl);
  }
  .days-to-see-container {
    position: absolute;
    top: 515px;
    right: 93px;
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    width: 214px;
    height: 62px;
  }
  .landing-page-item {
    position: absolute;
    top: 248px;
    left: calc(50% - 130px);
    border-radius: 15px;
    width: 261px;
    height: 66px;
  }
  .book-a-call {
    position: absolute;
    top: 248px;
    left: calc(50% - 67px);
    font-size: var(--font-size-5xl);
    font-weight: 800;
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 135px;
    height: 23px;
  }
  .eos-iconsloading {
    position: absolute;
    top: 281px;
    left: 631px;
    width: 27px;
    height: 26px;
    overflow: hidden;
  }
  .landing-page-inner,
  .objectother-16 {
    position: absolute;
    top: 522px;
    left: 111px;
    width: 18px;
    height: 19px;
  }
  .objectother-16 {
    top: 626px;
    left: 573px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 166px;
    height: 125px;
  }
  .revenue-generated {
    position: absolute;
    top: 525px;
    left: 538px;
    color: var(--color-white);
  }
  .landing-page {
    position: relative;
    background-color: #e7e8f1;
    width: 100%;
    height: 774px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--color-snow);
    font-family: var(--font-inter);
  }
  