/*------------ github.com/Henewi -------------*/

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZJhiI2B.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZthiI2B.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

* {
    border: 0;
    margin: 0;
    font-family: Inter;
}

a {
    text-decoration: none;
    font-family: Inter;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}



/* Landing page section */ 

.landingpage {
    display: flex;
    flex-direction: column;
    align-items: centre;
    height: 100vh;
}

.whiteblock {
    height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: -10vh;
}

.darkblock {
    background-color: #131313;
    height: 40vh;
}

/* logo section */ 

.logobox {
    display: flex;
    top: 10vh;
}

.logo {
    height: 25vh;
    margin-top: 5vh;
    opacity: 1;
    -webkit-animation: fading ease-in 0.2s;
    animation: fading ease-in 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}

.slogan {
    position: absolute;
    top: 15vh;
    font-family: Inter;
    opacity: 1;
    -webkit-animation: fadingOut ease-in 0.2s;
    animation: fadingOut ease-in 0.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;


}

.slogantext {
    font-family: Inter;
    font-size: 6vh;
    font-weight: 900;
}

@-webkit-keyframes fading {
    from {
        opacity: 1;
    }
    to {
         opacity: 0;   
    }
}
@-moz-keyframes fading {
    from {
        opacity: 1;
    }
    to {
         opacity: 0;   
    }
}

@keyframes fading {
    from {
        opacity: 1;
    }
    to {
         opacity: 0;   
    }
}
@-webkit-keyframes fadingOut {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
@-moz-keyframes fadingOut {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

@keyframes fadingOut {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

.bookacall {
    color: white;
    background: rgb(0,4,219);
    background: linear-gradient(90deg, rgba(0,4,219,1) 0%, rgba(61,9,121,1) 50%, rgba(209,0,255,1) 100%);
    height: 10vh;
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    position: absolute;
    top: 37vh;
    font-size: 3vh;
    border: 1vh black;
    transition: all 0.5s ease;
    -webkit-animation: fadingOut ease-in 0.2s;
    animation: fadingOut ease-in 0.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.bookacall:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.darkblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dbleft {
    color: white;
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: 2vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

.dbleft:hover {
    transform: scale(1.07);
}

.dbcentre {
    color: white;
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: 2vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

.dbcentre:hover {
    transform: scale(1.07);
}

.dbright {
    color: white;
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: 2vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

.dbright:hover {
    transform: scale(1.07);
}

.pic1 {
    width: 8vw;
    height: 8vw;
    margin-top: 1vh;
}
.pic2 {
    width: 12vw;
    height: 8vw;
    margin-top: 1vh;
}

.pic3 {
    height: 8vw;
    width: 10vw;
    margin-top: 1vh;
}

.big1 {
    font-size: 7vh;
}

.small1 {
    font-size: 2vh;
}

.big2 {
    font-size: 7vh;
}

.small2 {
    font-size: 2vh;
}

.big3 {
    font-size: 7vh;
}

.small3 {
    font-size: 2vh;
}

/* PHONES PORTRAIT */
@media screen and (max-device-width: 480px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {

}

/* PHONES LANDSCAPE */
@media (orientation: landscape) and (max-device-height: 480px) and (hover: none) and (pointer: coarse) {

}

/* TABLET-IPAD PORTRAIT */
@media screen and (min-device-width: 480px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {

}

/* TABLET-IPAD LANDSCAPE */
@media screen and (min-device-width: 480px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {

}


