/*------------ github.com/Henewi -------------*/

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZJhiI2B.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZthiI2B.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

* {
    border: 0;
    margin: 0;
    font-family: Inter;
}

a {
    text-decoration: none;
    font-family: Inter;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body::-webkit-scrollbar {
    width: 1vw;
}

body::-webkit-scrollbar-thumb {
    height: 4rem;
    border-radius: 0.7rem;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #770fbd;
}

body::-webkit-scrollbar-track {
    background-color: #272727;
}


/* PRELOADER SECTION */

.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: radial-gradient(ellipse at bottom, #ffffff 0%, #ffffff 100%);
    display: grid;
    place-items: center;
    transition: opacity .25s, visibility 1s;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* Landing page section */ 

.landingpage {
    display: flex;
    flex-direction: column;
    align-items: centre;
    height: 100vh;
}

.whiteblock {
    height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: -10vh;
    z-index: 1;
}

.darkblock {
    background-color: #272727;
    height: 40vh;
    z-index: 10;
}

/* logo section */ 

.minilogo {
    width: 7vw;
    position: absolute;
    display: flex;
    opacity: 1;
    top: 10vh;
    left: 46vw;
    justify-content: center;
    align-items: center ;
}

.minilogo:hover {
    cursor: pointer;
}

.logobox {
    display: flex;
    top: 10vh;
}

.logo {
    height: 25vh;
    margin-top: 5vh;
    opacity: 1;
    -webkit-animation: fading ease-in 0.2s;
    animation: fading ease-in 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}

.slogan {
    color: #acacac;;
    position: absolute;
    top: 25vh;
    font-family: Inter;
    opacity: 1;
    -webkit-animation: fadingOut ease-in 0.2s;
    animation: fadingOut ease-in 0.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;


}

.slogantext {
    color: #c4c4c4;;
    font-family: Inter;
    font-size: 6vh;
    font-weight: 900;
}

@-webkit-keyframes fading {
    from {
        opacity: 1;
    }
    to {
         opacity: 0;   
    }
}
@-moz-keyframes fading {
    from {
        opacity: 1;
    }
    to {
         opacity: 0;   
    }
}

@keyframes fading {
    from {
        opacity: 1;
    }
    to {
         opacity: 0;   
    }
}
@-webkit-keyframes fadingOut {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
@-moz-keyframes fadingOut {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

@keyframes fadingOut {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

.bookacall {
    color: white;
    background: rgb(127, 0, 211);
    background: linear-gradient(90deg, rgb(113, 0, 219) 0%, rgb(100, 11, 216) 50%, rgb(91, 0, 194) 100%);
    height: 10vh;
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    position: absolute;
    top: 40vh;
    font-size: 3vh;
    border: 1vh black;
    transition: all 0.5s ease;
    -webkit-animation: fadingOut ease-in 0.2s;
    animation: fadingOut ease-in 0.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.bookacall:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.darkblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dbleft {
    color: white;
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: 3.5vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

.dbleft:hover {
    transform: scale(1.07);
}

.dbcentre {
    color: white;
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: 3.5vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

.dbcentre:hover {
    transform: scale(1.07);
}

.dbright {
    color: white;
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: 3.5vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

.dbright:hover {
    transform: scale(1.07);
}

.pic1 {
    width: 8vw;
    height: 8vw;
    margin-top: 1vh;
}
.pic2 {
    width: 12vw;
    height: 8vw;
    margin-top: 1vh;
}

.pic3 {
    height: 8vw;
    width: 10vw;
    margin-top: 1vh;
}

.big1 {
    font-size: 7vh;
}

.small1 {
    font-size: 2vh;
}

.big2 {
    font-size: 7vh;
}

.small2 {
    font-size: 2vh;
}

.big3 {
    font-size: 7vh;
}

.small3 {
    font-size: 2vh;
}

.demosection {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    z-index: 30;
}

.demotitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 6vh;
    margin-top: 8vh;
    color: rgb(111, 0, 255)
}

.egcontainer {
    margin-top: 10vw;
    z-index: 30;
    /* background-color: rgb(255, 105, 105); */
    height: 190vh;
    display: flex;
    justify-content: center;
}

.eg1 {
    top: 5vh;
    position: sticky;
    position: -webkit-sticky;
    width: 20vw;
    margin: 2vw;
    border: 0.2vw solid rgb(197, 197, 197);
}

.eg1d {
    /* background-color: blue; */
    margin-bottom: 60vh;
}

.eg2 {
    top: 5vh;
    position: sticky;
    position: -webkit-sticky;
    width: 20vw;
    margin: 2vw;
    border: 0.2vw solid rgb(197, 197, 197);
}

.eg2d {
    /* background-color: red; */
    margin-bottom: 15vh;
}

.eg3 {
    top: 5vh;
    position: sticky;
    position: -webkit-sticky;
    width: 20vw;
    margin: 2vw;
    border: 0.2vw solid rgb(197, 197, 197);
}

.phone {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100vh;
    width: 99vw;
    z-index: 15;
    animation: trans 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.phoneimg {
    width: 30vw;
}
  
@keyframes trans {
    to {
      transform: translateY(-230vh)
    }
}

.whysection {
    height: 80vh;
    width: auto;
    background-color: #272727;
    justify-content: center;
    padding: 7vh;
}

.whytitle {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    color: white;
}

.calendersection {
    height: 80vh;
    width: auto;
    background-color: #ffffff;
    justify-content: center;
    padding: 7vh;
}

.calendertitle {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    color:#272727;
}

/* PHONES PORTRAIT */
@media screen and (max-device-width: 480px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
    .minilogo {
        scale: 5;
    }
    .slogan {
        display: flex;
        position: absolute;
        justify-content: center;
    }
    .slogantext {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
    }
    .bookacall {
        width: 60vw;
        }
    .phone {
        opacity: 0;
    }
    .big1 {
        font-size: 1.5rem;
        margin-bottom: 11vh;
        margin-top: -5vh;
    }
    .big2 {
        font-size: 1.5rem;
        margin-bottom: 11vh;
        margin-top: -5vh;
    }
    .big3 {
        font-size: 1.5rem;
        margin-bottom: 11vh;
        margin-top: -3vh;
    }
    .small1 {
        margin-top: -8vh;
    }
    .small2 {
        margin-top: -8vh;
    }
    .small3 {
        margin-top: -8vh;
    }
    .pic1 {
        scale: 3;
        margin-top: 5vh;
    }
    .pic2 {
        scale: 3;
        margin-top: 5vh;
    }
    .pic3 {
        scale: 3;
        margin-top: 5vh;
    }
    .dbleft {
        margin: 5vw;
    }
    .dbright{
        margin: 5vw;
    }
    .dbcentre {
        margin: 5vw;
    }
    .egcontainer {
        flex-direction: column;
        margin-top: 20vh;
        height: 450vh;
    }
    .eg1 {
        position: absolute;
        width: 80vw;
        top: 20vh;
        left: 7.5vw;
    }
    .eg2 {
        position: absolute;
        width: 80vw;
        top: 170vh;
        left: 7.5vw;
    }
    .eg3 {
        position: absolute;
        width: 80vw;
        top: 319vh;
        left: 7.5vw;
    }

}

/* PHONES LANDSCAPE */
@media (orientation: landscape) and (max-device-height: 480px) and (hover: none) and (pointer: coarse) {

}

/* TABLET-IPAD PORTRAIT */
@media screen and (min-device-width: 480px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {

}

/* TABLET-IPAD LANDSCAPE */
@media screen and (min-device-width: 480px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {

}

#background-wrap {
    bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
    overflow: hidden;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
